body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

h2 {
  font-size: 50px;
}

#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh; /* Use min-height instead of height */
  background-color: black;
  overflow-y: auto; /* Allow scrolling on overflow */
}

#title {
  text-align: center;
  color: rgb(0, 0, 0);
}

#session-container, #break-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  border: 8px solid rgb(255, 255, 255);
  color: white;
  background-color: rgb(73, 73, 73);
  font-size: 25px;
  box-sizing: border-box;
}

#session-container #session-length, 
#break-container #break-length, 
#timer-container #time-left {
  font-size: 30px;
  margin: 15px 0;
}

#session-container #session-increment, 
#session-decrement,
#break-container #break-increment, 
#break-decrement {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  font-size: 25px;
}

#timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: rgb(75, 75, 75);
  width: 25vw;
  border: 8px solid white;
  border-radius: 20px;
  color: white;
  font-size: 25px;
}

#timer-container #timer-label, 
#time-left, 
#start_stop, 
#reset {
  margin: 10px;
  border-radius: 20px;
  font-size: 25px;
  height: 60px;
  padding: 10px;
}

#sub-title {
  text-align: center;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  #session-container, #break-container {
      width: 90vw;
  }

  #timer-container {
      width: 60vw;
  }
}
