body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    max-width;: 0.6vw;
    display: block;
    max-height: 1vw;
  }
  
  #title {
    text-align: center;
  }
  
  #session-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 100px 30px 100px;
    padding: 10px 0px 30px 0px;
    border-width: 1rem;
    border-radius: 20px;
    border: solid;
    border-color: black;
  }
  
  #session-container #session-length {
  }
  
  #session-container #session-increment,
  #session-decrement {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
  
  #session-container #session-decrement {
  }
  
  #break-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 100px 30px 100px;
    padding: 10px 0px 30px 0px;
    border-width: 1rem;
    border-radius: 20px;
    border: solid;
    border-color: black;
  }
  
  #break-container #break-increment,
  #break-decrement {
    width: 30px;
    height: 30px;
    margin: 2px;
  }
  
  #timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
  
  #timer-container #timer-label, #time-left, #start_stop, #reset {
    margin: 5px;
  }
  
  #sub-title {
    text-align: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
  }
  